/*tab*/
#tab,#tab2,#tab3{
  position: absolute;
  top: 0;
  height: 8vw;
  background: #f7f7f7;
  color: #333;
  font-size: 0.4rem;
  z-index: 999;
}
#tab a {
  position: relative;
  line-height: 8vw;
  border-right: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
}
#tab a:last-child {
  border-right: none;
}
#tab a:active {
  background: rgba(0, 0, 0, 0.1);
}

.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
  color: #fff;
}

.mui-segmented-control .mui-control-item {
  line-height: 8vw;
}

#refreshContainer {
  margin-top: 8vw;
}

body {
  background: #fff;
}

#refreshContainer {
  margin-top: 0;
}

.banner, .banner img {
  width: 100vw;
  height: 50vw;
  z-index: 99;
  position: relative;
}

#tab {
  position: static;
  background: #f1f1f1;
}
#tab .mui-control-item.mui-active {
  color: #e91616;
  background: #fff;
}

#tab2, #tab3 {
  position: static;
  margin-top: 2.5vh;
  background: #f1f1f1;
  width: 32vw;
  margin-left: 34vw;
}
#tab2 .mui-control-item.mui-active, #tab3 .mui-control-item.mui-active {
  color: #fff;
  background: #ffa626;
}

.list ul li {
  height: 10.78vh;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.list ul li img {
  width: 11vw;
  height: 11vw;
  margin-left: 4vw;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}
.list ul li .number-one,.list ul li .number-two,.list ul li .number-three {
  width: 6vw;
}
.list ul li .number {
  margin-left: 4vw;
  font-weight: bold;
  font-size: 0.46rem;
  color: #788;
  width: 6vw;
  text-align: center;
}

.list ul li .name {
  margin-left: 4vw;
  font-size: 0.38rem;
}
.list ul li .score {
  position: absolute;
  right: 2vw;
  font-size: 0.38rem;
}
.myself{
  margin-top: 2.5vh;
}
.myself:before,.myself:after{
  display: inline-block;
  content: '';
  background: #f1f1f1;
  width:100vw;
  height:2.66vw;
}
.myself ul li{
  border:none;
  height:8.78vh;
}
.rule{
  position: absolute;
  z-index: 999;
  top:5.33vw;
  right:4vw;
  color: #E91616;
  font-size: 0.32rem;
  display: flex;
  align-items:center;
  text-align: center;
}
.rule span{
  width:21.33vw;
  letter-spacing: 1px;
}
.rule:after{
  display: inline-block;
  content:'';
  border-radius: 7vw;
  width:21.33vw;
  height:6.93vw;
  position: absolute;
  right:0;
  background: #E91616;
  opacity: 0.1;
}


.mask{
  display: none;
  position: absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  background: #000;
  opacity:0.5;
  z-index: 9;
}
.rule-mask{
  display: none;
  position: absolute;
  z-index:99;
  width:84vw;
  /*height:88.4vw;*/
  margin-left: 8vw;
  top: calc((100vh - 96.4vw) / 2);
}
.rule-mask img{
  width:84vw;
  height:26.66vw;
  vertical-align: top;
}
.rule-mask .rule-text{
  width:84vw;
  /*height:61.74vw;*/
  background: #fff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.rule-text p:not(.rule-text-title){
  width:67.86vw;
  color: #333!important;
  margin-left:8.035vw;
  font-size: 0.32rem;
}
.rule-text p:last-child{
  padding-bottom: 5vw;
}
.rule-text-title{
  color: #333;
  font-size: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6.4vw;
  font-weight: bold;
}
.rule-text-title:before{
  display: inline-block;
  content: '';
  background: url("/home/images/floating/left.png");
  background-size: 13.5vw 2.8vw;
  width:13.5vw;
  height:2.8vw;
  margin-right: 4vw;
}
.rule-text-title:after{
  display: inline-block;
  content: '';
  background: url("/home/images/floating/right.png");
  background-size: 13.5vw 2.8vw;
  width:13.5vw;
  height:2.8vw;
  margin-left: 4vw;
}
.rule-mask .rule-cancel{
  width:8vw;
  height:8vw;
  margin-left: 38vw;
  margin-top: 4vw;
}