{extend name="public/common"}

{block name="style"}
<style>
    a {display: block;color: #333;margin: 25px 0 ;text-align: center;font-size: .5rem;}
</style>
{/block}

{block name="body"}

<a href="{:Url('Learn/index')}">党员教育</a>
<a href="{:Url('News/index')}">第一聚焦</a>
<a href="{:Url('Book/index')}">队伍管理</a>
<a href="{:Url('User/index')}">个人中心</a>
<a href="{:Url('Information/index')}">红色珍藏</a>
<a href="{:Url('Signin/index')}">会议签到</a>
<a href="{:Url('Pat/index')}">民情日志</a>
<a href="{:Url('Snapshot/snapshot')}">随手拍</a>
<a href="{:Url('Notice/index')}">通知公告</a>
<a href="{:Url('Review/index')}">消息审核(发布审核)</a>
<a href="{:Url('Reviews/index')}">消息审核(后台审核)</a>
<a href="{:Url('Activity/index')}">支部活动</a>
<a href="{:Url('Topic/index')}">专题模块</a>
<a href="{:Url('Structure/index')}">组织架构</a>

{/block}

{block name="script"}

{/block}