{extend name="public/common"}

{block name="style"}
<title>专题模块</title>

<link rel="stylesheet" href="/home/sass/stylesheets/news/news.css">
<style>
    /*.banner a div{*/
        /*position: absolute;*/
        /*background:#000;*/
        /*opacity: 0.5;*/
        /*top: 50%;*/
        /*left: 50%;*/
        /*-webkit-transform: translate(-50%,-50%);*/
    /*}*/
    .banner a span{
        position: absolute;
        font-size: 2.2rem;
        text-align: center;
        color: #fff;
        width: 60%;
        text-align: center;
        display: block;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
    }
    .default img {
        width: 16vw;
        position: absolute;
        left: 50%;
        margin-top: 50%;
        margin-left: -8vw;
    }
    /*.banner a:active{*/
        /*background: none!important;*/
    /*}*/
</style>
{/block}

{block name="body"}

<!--新闻聚焦-->
<div class="notice">
    {empty name="list"}
    <div class="default"><img src="/home/images/common/nomessage.png" alt="暂无消息"> </div>
    {else/}
    <div class="lists">
        {volist name="list" id="vo"}
        <a class="list clear" href="{:Url('Topic/detail?id='.$vo['id'])}">
            <div class="fl">
                <img src="{$vo['front_cover']|get_cover='path'}" alt="{$vo.title}">
            </div>
            <div class="fr lr">
                <div class="title limit_">{$vo.title}</div>
                <div class="clear">
                    <span class="fl">{$vo.create_time|time_format='Y-m-d'}</span>
                    <span class="fr">详情</span>
                </div>
            </div>
        </a>
        {/volist}
    </div>
    {/empty}
</div>
<div class="tip"></div>
<div class="loading hidden">
    <div class="typing_loader"></div>
</div>
{/block}

{block name="script"}

<script src="/home/js/reset.js"></script>
<script>
    $("title").text("专题模块");
    var type = parseInt(window.location.href.split("/id/")[1]);;
    console.log(type)
    var scrollNow = true;//判断下拉请求是否执行中.false为正在请求
    $(function(){
        //初始化数据
        var ntc = $(".list");
        var len  = ntc.length;
        if(len >= 12 ){
            $('.tip').text('上拉加载更多');
            loadScroll();
        }
    });
    function loadScroll(){

        $(window ).off("scroll" ).on("scroll",function(){
            var ntc = $(".list");
            var dh = $(document).height();
//		console.log("dh"+dh);
            var end = $(window).height() + $(window ).scrollTop();
            var len  = ntc.length;
            var tip = $(".tip");
            var loading = $('.loading');
            if(dh == end){
                scrollNow = false;
                $.ajax({
                    type:"post",
                    url:"{:Url('Topic/more')}",
                    data:{
                        length:len,
                        id:type
                    },
                    beforeSend: function(XMLHttpRequest){
                        tip.hide();
                        loading.toggleClass('hidden');
                    },
                    success:function(data){
                        loading.toggleClass('hidden');
                        tip.show();
                        if(data.code == 1){
                            addNews(data);
                            if(data.data.length == 12){
                                tip.text('上拉加载更多');
                            }
                        }else{
                            tip.text('没有更多了');
                            $(window ).off("scroll");
                        }
                        scrollNow = true;
                    }
                })
            }
        })
    }
    function addNews(data){
        var html = '';
        var lists = data.data;
        var len = lists.length;
        var ntc = $(".notice");
        for(var i = 0; i< len;i++){
            var list = lists[i];
            html +=
                    '<a class="list clear" href="/home/topic/detail/id/'+list.id+'.html">'+
                    '<div class="fl">'+
                    '<img src="'+ list.src+'" alt="图片">'+
                    '</div>'+
                    '<div class="fr lr">'+
                    '<div class="title">'+list.title+'</div>'+
                    '<div class="clear">'+
                    '<span class="fl">'+ list.time+'</span>'+
                    '<span class="fr">详情</span>'+
                    '</div>'+
                    '</div>'+
                    '</a>'
        }
        ntc.append(html);
    }
</script>
{/block}