{extend name="base/common"}

{block name="style"}
<style>
    .shadow{width: 100%;height: 100%;position: absolute;left: 0;top: 0;background: rgba(0,0,0,0.4);z-index: 88;}
    .a{width:2vw;height:2vw;text-align: center;line-height:2vw;display: inline-block;font-size: 24px;background:#1ab394;color:#fff;cursor:pointer}
    .b{font-size: 20px;margin:0 1vw;width:2vw;display: inline-block;text-align: center}
    .c{width:2vw;height:2vw;text-align: center;line-height:2vw;display: inline-block;font-size: 24px;background:#1ab394;color:#fff;cursor:pointer}
</style>
{/block}

{block name="page-header"}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>评论情况</h2>
        <ol class="breadcrumb">
            <li>
                评论情况
            </li>
            <li class="active">
                <strong><a href="{:Url('Flaw/commentrank')}">列表页</a></strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
{/block}

{block name="main"}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">

                <div class="ibox-title">
                    <h5>{$user.name}</h5>
                        <div class="ibox-tools">
                            <a href="javascript:window.history.go(-1);" class="btn btn-white btn-sm"><i class="fa fa-reply"></i> 返回</a>
                        </div>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th><input class="i-checks check-all" type="checkbox"></th>

                                <th>模块标题</th>
                                <th>评论内容</th>
                                <th>评论时间</th>
                                <th>评论积分</th>
                                <th>奖励积分</th>
                                <th>最终积分</th>
                                <th>操作记录</th>
                            </tr>
                            </thead>
                            <tbody>
                            {volist name="rank" id="vo"  key="k"}
                            <tr>
                                <td></td>
                                <td>{$vo.title}</td>
                                <td>{$vo.content}</td>
                                <td>{$vo.time|time_format='Y-m-d'}</td>
                                <td>{$vo.rank}</td>
                                <td class="s">{$vo.award}</td>
                                <td class="f">{$vo.award + $vo.rank}</td>
                                <td>
                                    <span class="a">-</span>
                                    <span class="b" data-id="{$vo.id}" data-uid="{$vo.userid}">0</span>
                                    <span class="c">+</span>
                                </td>
                            </tr>
                            {/volist}
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="8">
                                    <div class="page">{$_page}</div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<iframe id="iframe" src="" style="height: 80%;width: 392px;z-index: 99;position: absolute;top: 10%;border: 0;left: 32%;background: #fff;display: none;" scrolling="auto" seamless></iframe>
<div class="shadow" style="display: none"></div>
{/block}

{block name="script"}
<script src="/admin/js/plugins/iCheck/icheck.min.js"></script>
<script>
    highlight_subnav("{:Url('Flaw/index')}");
    $(document).ready(function(){
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
    });
    var len =$("tbody tr").length;

    for(var i=0;i<len;i++){

       $("tbody tr").eq(i).find(".a").click(function(){
           var sun=parseFloat($(this).siblings(".b").text())-0.5;
           console.log(sun)
            if($(this).siblings(".b").text()==0){
                sun=0;
            }else{
                var _this = $(this)
                var id = $(this).siblings(".b").attr("data-id");
                var uid = $(this).siblings(".b").attr("data-uid")
                $.ajax({
                    type:"post",
                    url:"{:Url('Flaw/award')}",
                    data:{
                        id:id,
                        type:1,
                        userid:uid
                    },
                    beforeSend: function(XMLHttpRequest){
                    },
                    success:function(data) {
                        console.log(data)
                        var sum = parseFloat(_this.parent("td").siblings(".s").text())-0.5;
                        _this.parent("td").siblings(".s").text(sum)
                        var sum1 =parseFloat(_this.parent("td").siblings(".f").text())-0.5
                        _this.parent("td").siblings(".f").text(sum1);
                    }
                })
            }
           $(this).siblings(".b").text(sun)

        });
        $("tbody tr").eq(i).find(".c").click(function(){
            var id = $(this).siblings(".b").attr("data-id")
            var uid = $(this).siblings(".b").attr("data-uid")
            var sun = parseFloat($(this).siblings(".b").text())+0.5;
            var _this = $(this)
            console.log(sun)
            $.ajax({
                type:"post",
                url:"{:Url('Flaw/award')}",
                data:{
                    id:id,
                    userid:uid,
                },
                beforeSend: function(XMLHttpRequest){
                },
                success:function(data) {
                    var sum = parseFloat(_this.parent("td").siblings(".s").text())+0.5;
                    var sum1 =parseFloat(_this.parent("td").siblings(".f").text())+0.5
                    _this.parent("td").siblings(".s").text(sum);
                    _this.parent("td").siblings(".f").text(sum1);
                }
            })
            $(this).siblings(".b").text(sun)
        });
    }

   /* //排行
    var len =  $("tbody tr").length;
    var sum =parseInt($(".current").text())-1 ;
    for(var i=0;i<len;i++){
        $("tbody tr").eq(i).find("td").eq(1).text(parseInt(sum*10)+parseInt(i)+1)
    }*/

</script>
{/block}