{extend name="base/common"}

{block name="style"}
<style>
    body{
        height:100vh;
        overflow: hidden;
    }
    .shadow{width: 100%;height: 100%;position: absolute;left: 0;top: 0;background: rgba(0,0,0,0.4);z-index: 88;}
    .table.table-striped tbody{
        display: inline-block;
        width:100%;
        height:70vh;
        margin-top: 40px;
        overflow: scroll;
    }
    .table.table-striped thead{
        display: inline-block;
        width:86vw;
        position: fixed;
        background: #fff;
    }
    .table.table-striped tr{
        display: flex;
    }
    .table.table-striped tr td,.table.table-striped tr th{
        display: inline-flex;
        flex:1;
    }
    td {
       text-align: center;
    }
    .tip{height: 1.5vw;
        text-align: center;
        line-height: 1.5vw;
        color: #fff;
        font-size: 0.34rem;
        width: 30vw;
        background: #ff2222;
        position: absolute;
        bottom: 4vw;
        left:30vw;
        cursor: pointer;
    }
    .a{
        position: absolute;
        left:14.5vw;

    }
    .b{
        position: absolute;
        left:28.5vw;

    }
    .c{
        position: absolute;
        left:42.5vw;
        top:0.25vw;
    }
    .d{
        position: absolute;
        left:57vw;
        top:0.25vw

    }
    .e{
        position: absolute;
        left:72vw;

    }
</style>
{/block}

{block name="page-header"}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>学习情况</h2>
        <ol class="breadcrumb">
            <li>
                学习情况
            </li>
            <li class="active">
                <strong><a href="{:Url('Flaw/rankindex')}">列表页</a></strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
{/block}

{block name="main"}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>流动党员</h5>
                    <div class="ibox-tools">
                        <a href="/admin/flaw/operation" class="btn btn-sm btn-primary" >操作记录</a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th><input class="i-checks check-all" type="checkbox"></th>
                                <th>排名</th>
                                <th>姓名</th>
                                <th>学习总积分</th>
                                <th>评论总积分</th>
                                <th>总积分</th>
                            </tr>
                            </thead>
                            <tbody>
                            {volist name="list" id="vo"  key="k"}
                            <tr style="position: relative">
                                <td><input type="checkbox" class="i-checks" name="input[]"></td>
                                <td class="a">{$k}</td>
                                <td class="b">{$vo.name}</td>
                                <td><a href="/admin/flaw/studyrank/userid/{$vo.userid}" class="btn btn-sm btn-primary c" style="display: inline-block;width: 5vw">{$vo.study}</a></td>
                                <td><a href="/admin/flaw/commentrank/userid/{$vo.userid}" class="btn btn-sm btn-primary d" style="display: inline-block;width: 5vw">{$vo.comment}</a></td>
                                <td class="e">{$vo.total}</td><!--operation-->
                            </tr>
                            {/volist}

                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="8">
                                    <div class="page"></div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{/block}

{block name="script"}
<script src="/admin/js/plugins/iCheck/icheck.min.js"></script>
<script>
    highlight_subnav("{:Url('Flaw/rank')}");
    $(document).ready(function(){
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
    });
    /*var len = $("tbody tr").length;
    if(len<20){
        $(".tip").css("background","#f1f1f1");
        $(".tip").unbind();
    }else{
        $(".tip").css("background","#ff2222");
        $(".tip").click();
    }
    $(".tip").click(function(){
        var len = $("tbody tr").length;
        $.ajax({
            type:"post",
            url:"{:Url('Flaw/rank')}",
            data:{
                length:len,
            },
            beforeSend: function(XMLHttpRequest){
            },
            success:function(data){
              /!*  var data = JSON.parse(res);*!/
                console.log(data)
                if(data.code == 1){
                    addCourse(data);
                    $(".tip").css("background","#ff2222");
                }else{
                    $(".tip").css("background","#f1f1f1");
                    $(".tip").unbind();
                }
            }
        })
    });
    function addCourse(data) {
        var html = '';
        var lists = data.data;
        var len = lists.length;
        for (var i = 0; i < len; i++) {
            var list = lists[i];
                html +='<tr><td>' +
                        '<input type="checkbox" class="i-checks" name="input[]">' +
                        '</td>' +
                        '<td></td>' +
                        '<td>'+list.name+'</td>' +
                        '<td>' +
                        '<a href="/admin/flaw/studyrank/userid/'+list.userid+'" class="btn btn-sm btn-primary" style="display: inline-block;width: 5vw">'+list.study+'</a>' +
                        '</td>' +
                        '<td>' +
                        '<a href="/admin/flaw/commentrank/userid/'+list.userid+'" class="btn btn-sm btn-primary" style="display: inline-block;width: 5vw">'+list.comment+'</a>' +
                        '</td>' +
                        '<td>'+list.total+'</td></tr>'
            $("tbody").append(html);
      }
    }*/

</script>
{/block}