{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/sass/stylesheets/structure/structure.css">
<title></title>
{/block}

{block name="body"}
<div class="banner">
	<img src="/home/images/strcture.jpg" alt="组织架构banner" class="banner-img">
</div>
<div class="tabs">
	<div class="tabes">
		<a class="tab active">组织介绍</a>
		<a class="tab">组织架构</a>
		<a class="tab">全景展示</a>
	</div>
</div>
<div class="listbox">
	<!--组织介绍-->
	<div class="service box active">
		<div class="box_ summary">
			<p>
				杭州之图网络科技有限公司（简称：之图科技）成立于2015年1月，位于杭州未来科技城（海创园），注册资金1136万，是一家由资深海归团队创办的国家高新技术企业，是国内领先的移动端应用开发商之一。我们以政府/行业+互联网应用为方向，建立人与组织新联接，打造“党建＋N”互联网红色新经济，以基层智慧党建为引领，以智慧政务为重点，带动智慧园区、智慧体育事业全面发展。通过集成云计算、大数据、GIS、区块链、三维等技术应用，为各行业用户提供先进的综合性信息化解决方案，旨在成为国内优秀的互联网技术、内容和服务提供商。
			</p>
		</div>
		<div class="box_ charter">
			<div class="party1">
				<div class="tri"></div>
				<div class="name1" style="font-size: 0.4rem;color: #333;font-weight: bold;height:8vw;line-height:8vw;padding-left: 0.5rem">党群服务中心管理办法</div>
			</div>
			<div class="detail1 down" style="padding-top: 5vw;display: none">
				<span>为加强党群服务中心运行管理，提高服务中心使用效率，更好地服务辖区党员群众，特制定如下管理办法。</span>
				<p>第一章总则</p>
				<span>第一条  服务中心的功能定位是：“服务、交流、学习、生活”为主线，按照“管理规范，功能齐全、作用明显”的总体要求，着眼于搭建新时期党组织服务党员群众，凝聚党心民心，展现党的先进性平台，达到提高党建区域化水平，增强党组织凝聚力和号召力的目的。</span>
				<span>第二条 服务中心坚持基本性、公益性、众筹性的原则，坚持以人为本，因地制宜，因人施策，资源共享的原则。</span>
				<span>第三条  党群服务中心办公室负责服务中心日常管理工作的组织，协调和监督指导。</span>
				<p>第二章  运行机制</p>
				<span>第四条  人员运行管理  服务中心配有专职管理人员及兼职人员，负责公共设施的安全保障、工作安排及活动开展等日常管理工作。同时，常年公开招募党员、志愿者、义工，与入驻社会组织一起，辅助管理人员做好管理和服务工作。</span>
				<span>第五条  服务运行管理：服务中心日常开放管理实行专人负责与人员轮值相结合的制度，开放时间原则上为星期二至星期六8：30—17：00，同时为有需要的提供延时服务、预约服务。</span>
				<span>第六条  进入服务中心的人员，须按要求填写《活动预约单》在登记簿上登记，并服从管理人员管理。</span>
				<p>第三章  管理和使用</p>
				<span>第七条  爱护相关设施，保证服务中心内一切物品及设备不丢失、不损坏。</span>
				<p>第四章  其他管理规定</p>
				<span>第八条  进入服务中心参加活动的人员，须维持好室内卫生，不随地吐痰、乱丢垃圾、不在墙壁、地面、设备、书籍上乱涂乱画。参加活动人员离开前，要将活动室地面、桌椅、物品清理干净。</span>
				<span>第九条  凡在服务中心参加活动者，须遵守活动规则，讲文明、守秩序，不争吵打闹，不高声喧哗。</span>
				<p>第五章  附则</p>
				<span>第十条  本规定由箬横镇党群服务中心负责解释说明，并监督执行。</span>
				<span>第十一条  本规定自党群服务中心正式启用之日起施行。</span>
				<p style="font-size: 0.36rem;color: #666;text-align: right;font-weight: inherit">群服务中心</p>
			</div>

		</div>
	</div>
	<!--组织结构-->
	<div class="town box hidden">
		<!--小镇党委-->
		<div class="box_ or">
			<div class="lists">
				<!--第一层-->
				<div class="list clear">
					<div class="party1">
						<div class="tri todown"></div>
						<div class="name1">宁波之图企业号</div>
					</div>
					<!--第二层-->
					<div class="down detail1">
						{volist name="msg" id="mm"}
						<a class="name2 limit" href="{:Url('Structure/detail?id='.$mm['id'])}">{$mm.name}</a>
						{/volist}
					</div>
					<!--/第二层-->
				</div>
				<!--/第一层-->
			</div>
		</div>
		<!--/小镇党委-->
	</div>
	<!--全景展示-->
	<div class="vr box hidden">
		<div class="title">杭州之图全景展示</div>
		<a href="https://720yun.com/t/6bfj5ztury3?pano_id=8028422">
			<img src="/home/images/vr.jpg" alt="vr封面">
		</a>
	</div>

</div>

{/block}

{block name="script"}
<script src="/home/js/reset.js"></script>
<script>
$('title' ).text('组织架构');
$(function(){
	//tab值记录
	tabRecord('.tab' ,'.box');
	//组织架构切换
	slide();
	//tab切换
	tabSwitch('.tab' ,'.box');

});
function slide(){
	$('.list .party1').on('click',function(){
		var it = $(this);
		var detail = it.next('.detail1');
		if(detail.hasClass('down')){
			detail.slideDown();
			it.find('.tri').removeClass('toup').addClass('todown');
		}else{
			detail.slideUp();
			it.find('.tri').removeClass('todown').addClass('toup');
		}
		detail.toggleClass('down');
	});

	$('.charter .party1').on('click',function(){
		var it = $(this);
		var detail = it.next('.detail1');
		if(detail.hasClass('down')){
			detail.slideDown();
			it.find('.tri').removeClass('toup').addClass('todown');
		}else{
			detail.slideUp();
			it.find('.tri').removeClass('todown').addClass('toup');
		}
		detail.toggleClass('down');
	});
}


</script>
{/block}