{extend name="public/pure"}

{block name="style"}
<link rel="stylesheet" href="/home/sass/stylesheets/graphic-video.css">
<title></title>
<style>
    .month{
        text-align: center;
        color: #333;
        width: 26vw;
        background: #f1f1f1;
        margin: 0.1rem auto;
        border-radius: 30px;
        height: 0.8rem;
        line-height: 0.8rem;
        font-size: 0.34rem;
    }
</style>
{/block}

{block name="body"}
<div id="refreshContainer" class="mui-content mui-scroll-wrapper">
    <div class="mui-scroll">
        {if condition="empty($list) && empty($month)"}
        <div class="default"><img src="/home/images/common/nomessage.png" alt="暂无消息"> </div>
        {else/}
        {notempty name="$month"}
        <div class="banner">
            <div class="tag">—— 本月文章 ——</div>
            <!--精彩专题-->
            {volist name="month" id="re"}
            <div class="box">
                {eq name="re.photo" value="1"}
                <a href="{:Url('Floating/article?id='.$re['id'])}" class="box_up">
                    {else/}
                    <a href="{:Url('Floating/video?id='.$re['id'])}" class="box_up">
                        {/eq}
                        <img src="{$re.front_cover|get_cover='path'}" alt="图片">
                        <div class="title">{$re.title}</div>
                        <div class="note clear">
                            <span class="fl">{$re.publisher}</span>
                            <span class="fr">{$re.create_time|time_format='Y-m-d'}</span>
                        </div>
                    </a>
                    <div class="box_down">
                        <div class="clear">
                            <span class="scan">{$re.views}</span>
                            <div class="fr next">下一篇</div>
                        </div>
                    </div>
                    <!--模糊层-->
                    <img src="{$re.front_cover|get_cover='path'}" alt="背景" class="bg">
            </div>
            {/volist}
        </div>
        {/notempty}
        <!--课程列表-->
        <div class="lists">
            <div class="tag"> —— 往期回顾 —— </div>
            <!--图文课程-->
            {php}
                $four = 0;
            {/php}
            {volist name="list" id="vo"}
            {php}
            $first = strtotime(date('Y-m',$vo['create_time']));
            $two = strtotime(date('Y-m',time()));
            $three = $two - $first;
            if($three != $four) {
            $four = $three;
            echo "<div class='month'>".date('Y年m月',$first)."</div>";
            }

            {/php}
            {eq name="vo.photo" value="1"}
            <a href="{:Url('Floating/article?id='.$vo['id'])}" class="list lesson">

                <div class="tab">图文</div>
                {else/}
                <a href="{:Url('Floating/video?id='.$vo['id'])}" class="list lesson">
                    <div class="tab">视频</div>
                    {/eq}
                    <img src="{$vo.front_cover|get_cover='path'}" alt="图片" class="img">
                    <div class="title limit">{$vo.title}</div>
                    <span class="study">{$vo.views}人阅读过</span>
                </a>
                {/volist}
        </div>
        {/if}
    </div>
</div>
{/block}

{block name="script"}
<script>
    $("title").text("流动党员");
    $(function(){
        $('.box').eq(0).show();
        $(".month").next(".tab").css("top","1.4rem");
    });

    /**
     * 切换精彩专题
     * @param e
     */
    mui('.box_down').on('tap', '.next', function(e) {
        var box =$('.box');
        var len = box.length;
        var this_ = $(this).parents('.box');
        var index = this_.index();
        index = index == len ? 0:index;
        $('.box_up').find('img' ).hide();
        box.eq(index).show().siblings('.box' ).hide();
        box.eq(index).find('img' ).fadeIn();
    });

    //初始化下拉加载
    mui.init({
        pullRefresh: {
            container: '#refreshContainer',
            up: {
                callback: loadScroll
            }
        }
    });

    function loadScroll(){
        mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
    }



    mui("#refreshContainer").on("touchstart","a",function(){
        $(this).css("backgroundColor","rgba(0,0,0,.1)");
    }).on("touchend","a", function () {
        $(this).css("backgroundColor","#fff");
    });

    mui("#refreshContainer").on("tap","a",function(){
        var url = this.getAttribute("href");
        window.location.href = url;
    });
</script>
{/block}